.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.header-left {
  grid-column: 1;
  justify-self: start;
}

.search-bar {
  grid-column: 2;
  max-width: 600px;
  margin: 0 2rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.search-bar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}


.search-bar button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}


.header-right {
  grid-column: 3;
  justify-self: end;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}


.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.footer {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}