.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  padding: 10px 20px;
  background-color: #f4a226;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header span {
  text-align: center;
  font-family: "Monoton";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -5px;
  padding: 2rem 0;
}

Grid2 {
  margin: 2px;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: left;
  gap: 10px;
  margin-left: 10px; /* Push the search bar to the left */
}

.search-bar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #00798a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #005f6b;
}

.auth-buttons {
  margin-left: auto;
  cursor: pointer;
}

.auth-buttons button {
  background-color: #00798a;
  color: #fff;
  margin-left: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.Card:hover {
  opacity: 0.8;
}
